.box {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  border-radius: 25px;
}
.image {
  border-radius: 25px;
}

#carouselExampleIndicators {
  width: 70%; /* Set your desired fixed width */
  margin: auto;
}

.carousel-inner {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 400px; /* Set your desired fixed height */
}

.carousel-inner .carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure each item takes up the full width */
  transition: transform 1s ease-in-out;
}

.carousel-inner .carousel-item.active {
  transform: translateX(0%);
}

.carousel-inner .carousel-item:not(.active) {
  transform: translateX(100%);
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  max-width: none;
  z-index: 1;
}

.copy-container {
  position: relative;
  display: inline-block;
}

.copy-message {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  margin-bottom: 15px; /* Adjust the margin as needed */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.copy-container.clicked .copy-message {
  opacity: 1;
}

.fa-brands {
  font-size: 20px; /* Adjust size as needed */
}

/* Apply flex layout to the container */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  margin: 0 10px; /* Adjust margins as needed */
}

.btn {
  /* Add any necessary button styles */
}

.footer-copyright {
  /* Add styles for the copyright text */
}

.content-wrapper {
  min-height: calc(100vh - 56px); /* Adjust for navbar height */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-bottom: 100px; /* Adjust for footer height */
}

.portfolio-section {
  position: relative;
}

.portfolio-heading {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}
