/* style.css */

.copy-container {
  position: relative;
  display: inline-block;
}

.copy-message {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  margin-bottom: 15px; /* Adjust the margin as needed */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.copy-container.clicked .copy-message {
  opacity: 1;
}

.fa-brands {
  font-size: 20px; /* Adjust size as needed */
}

/* Apply flex layout to the container */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  margin: 0 10px; /* Adjust margins as needed */
}

.btn {
  /* Add any necessary button styles */
}

.footer-copyright {
  /* Add styles for the copyright text */
}
