.box {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  border-radius: 25px;
}
.image {
  border-radius: 25px;
}

#carouselExampleIndicators {
  width: 70%; /* Set your desired fixed width */
  margin: auto;
}

.carousel-inner {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 400px; /* Set your desired fixed height */
}

.carousel-inner .carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure each item takes up the full width */
  transition: transform 1s ease-in-out;
}

.carousel-inner .carousel-item.active {
  transform: translateX(0%);
}

.carousel-inner .carousel-item:not(.active) {
  transform: translateX(100%);
}

/* Add this style to your existing CSS */
.btn-bold {
  font-weight: bold !important;
}


.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  max-width: none;
  z-index: 1;
}

.copy-message {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  margin-bottom: 15px; /* Adjust the margin as needed */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.copy-container.clicked .copy-message {
  opacity: 1;
}

.fa-brands {
  font-size: 20px; /* Adjust size as needed */
}

/* Apply flex layout to the container */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PosterImg {
  height: 250px;
}

card {
  border:100px solid rebeccapurple;
}

.cardImg {
  height: 250px;
}

.Port {
  border-radius: 15px;
}

.email-text {
  color: #fff;
}
.Qaiwan {
  width: 100px;
}

.Qaiwan2 {
  width: 150px;
}